// --------------------
// Leaflet Timeline
// --------------------
.leaflet-bottom.leaflet-left {
  width: 100%;
}

.leaflet-control.leaflet-timeline-control {
  position: absolute!important;
  bottom: 0!important;

  box-sizing: border-box!important;
  width: calc(100% - 20px) !important;
  margin-bottom: 10px!important;
  margin-left: 10px!important;

  text-align: center!important;
}

.leaflet-control.leaflet-timeline-control .button-container button {
  cursor: pointer;

  border: 1px solid #ccc!important;

  @at-root #{&}:focus {
    outline: none;
  }
}

.leaflet-control.leaflet-timeline-control .button-container button.play,
.leaflet-control.leaflet-timeline-control .button-container button.pause {
  margin-right: 3px;
  margin-left: 3px;
}

#map[data-history-loaded='false'] .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-timeline-control.leaflet-control {
  visibility: hidden;
}

// Hide/show zoom control
[data-map-mode='GPS-HISTORY-PLAYBACK-MODE'] .leaflet-control-zoom {
  display: none;
}

[data-map-mode='GPS-HISTORY-PLAYBACK-MODE'] .leaflet-control.leaflet-timeline-control {
  display: block;
}

[data-map-mode='GPS-HISTORY-PLAYBACK-MODE'] .leaflet-draw.leaflet-control {
  display: none;
}

// Hide slider on small devices
@media screen and (max-width: #{$viewport-sm-from}) {
  .leaflet-control.leaflet-timeline-control .sldr-ctrl-container {
    width: 100%!important;
  }

  .leaflet-control.leaflet-timeline-control input[type=range] {
    display: none!important;
  }
}

