// --------------------------------------------
// Application
// --------------------------------------------

$distributorColor: #2c827d;

// --------------------
// Map
// --------------------
.map {
  $self: &;

  position: relative;

  height: calc(100vh - 100px);

  border: 1px solid #ccc;

  // --------------------
  // Buttons
  // --------------------
  @at-root #{&}__buttons-container {
    position: absolute;
    z-index: 401;
    right: 0;
    bottom: 0;

    padding: 10px;

    background: transparent;
  }

  @at-root #{&}__button {
    padding: 13px;

    cursor: pointer;
    user-select: none;

    border-radius: 5px;
    box-shadow: 0 0 2px 0 #000;

    font-size: 13px;

    @at-root #{&}--save {
      color: white;
      border: 1px solid $distributorColor;
      background-color: $distributorColor;
    }

    @at-root #{&}--reset {
      color: $distributorColor;
      border: 1px solid #444;
      background-color: #fff;
    }

    @at-root #{&}--disabled {
      cursor: not-allowed;
      pointer-events: none;

      color: #c1c1c1;
      border: 1px solid #c1c1c1;
      background-color: #fff;
    }
  }

  // --------------------
  // Notifications
  // --------------------
  @at-root #{&}__notifications {
    position: absolute;
    z-index: 401;
    right: 12px;
    bottom: 20px;

    display: none;

    width: 120px;
    height: 20px;

    text-align: center;

    background-color: white;

    @at-root #{&}.saving {
      display: block;

      border: 1px solid #6c757d;
      background-color: white;
    }

    @at-root #{&}.success {
      display: block;

      border: 1px solid #28a745;
      background-color: #28a745;
    }

    @at-root #{&}.failure {
      display: block;

      border: 1px solid #dc3545;
      background-color: #dc3545;
    }
  }

  // --------------------
  // Loading
  // --------------------
  &--loading {
    pointer-events: none !important;

    & * {
      pointer-events: none !important;
    }

    #{ $self }__loading-overlay {
      display: block;
    }
  }

  @at-root #{&}__loading-overlay {
    position: relative;
    z-index: 1000;

    display: none;

    height: 100%;

    background: rgba(255, 255, 255, .80);

    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;

      overflow: hidden;

      box-sizing: border-box;
      width: 56px;
      height: 56px;
      margin-top: -28px;
      margin-left: -28px;

      content: '';
      animation: spinner .6s linear infinite;
      white-space: nowrap;
      text-indent: 100%;

      border: 3px solid #ccc;
      border-top-color: $distributorColor;
      border-radius: 50%;
    }

    & > div {
      visibility: hidden;
    }
  }

  // --------------------
  // Custom zones
  // --------------------
  @at-root #{&}__custom-zone-label {
    position: relative;
    z-index: 1;

    width: 120px;
    padding: 3px;

    text-align: center;

    border: 1px solid #c0c0c0;
    border-radius: 8px 8px 0 0;

    font-size: 16px;

    //font-weight: bold;

    @at-root #{&}--not-valid {
      color: #dc3545;
      border: 1px solid #dc3545;
    }
  }

  @at-root #{&}__custom-zone-distance {
    width: 120px;
    padding: 3px;

    text-align: center;

    color: #696969;
    border: 1px solid #c0c0c0;
    border-radius: 0 0 8px 8px;
    background-color: white;

    font-size: 12px;
    font-style: italic;
  }
}

// --------------------------------------------
// Libraries override
// --------------------------------------------
// --------------------
// Leaflet
// --------------------
/*
.leaflet-control-layers-toggle {
  background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/layers.png) !important;;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/layers-2x.png) !important;;
}

.leaflet-default-icon-path {
  background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/marker-icon.png) !important;
}
*/
.leaflet-popup-content-wrapper {
  padding: 0 !important;

  border-radius: 0 !important;
}

.leaflet-popup-content {
  margin: auto !important;

  line-height: 1 !important;
}

.leaflet-popup-tip-container {
  // display: none;
}

.leaflet-popup-tip-container {
  bottom: 18px;

  overflow: visible !important;

  transform: rotate(180deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-tip-container::before {
  position: absolute;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  content: '';

  border-radius: 50%;
  background-color: $distributorColor;
}

.leaflet-popup-tip-container::after {
  position: absolute;

  width: 25px;
  height: 41px;
  margin-top: 0;
  margin-left: -13px;

  content: '\f3c5';
  //content: '';
  transform: rotate(180deg);
  //background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/marker-icon.png) !important;
  //background-image: url(images/marker.png) !important;
  //background-repeat: no-repeat;
  //background-size: contain;

  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,.81);

  font-family: 'Font Awesome 5 Free';
  font-size: 34px;
  font-weight: 900;
}

.leaflet-popup {
  top: 10px;
  bottom: -51px !important;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon {
  // @todo
}

.leaflet-editing-icon.leaflet-edit-resize,
.leaflet-editing-icon.leaflet-edit-move {
  width: 30px !important;
  height: 30px !important;

  border: 1px solid $distributorColor;
  border-radius: 50%;
  background-color: white;
  //background-repeat: no-repeat;
  //background-position: center;
}

.leaflet-editing-icon.leaflet-edit-resize {
  //background-image: url(images/drag.png);
  background-image: none;

  @at-root #{&}::after {
    position: absolute;
    top: 0;
    left: 6px;

    content: '\f31e';

    color: $distributorColor;

    font-family: 'Font Awesome 5 Free';
    font-size: 21px;
    font-weight: 900;
  }
}

.leaflet-editing-icon.leaflet-edit-move {
  border: none;
  //margin-left: -16px !important;
  //background-image: url(images/gps.png);
  background: none!important;
}

.leaflet-control-attribution {
  display: none;
}
