// --------------------------------------------
// Libraries override
// --------------------------------------------
// --------------------
// Leaflet
// --------------------
/*
.leaflet-control-layers-toggle {
  background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/layers.png) !important;;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/layers-2x.png) !important;;
}

.leaflet-default-icon-path {
  background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/marker-icon.png) !important;
}
*/

.leaflet-popup-content-wrapper {
    padding: 0 !important;

    border-radius: 0 !important;
}

.leaflet-popup-content {
    margin: auto !important;

    line-height: 1 !important;
}

.leaflet-popup-tip-container {
    // display: none;
}

.leaflet-popup-tip-container {
    bottom: 18px;

    overflow: visible !important;

    transform: rotate(180deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: transparent !important;
    box-shadow: none !important;
}

.leaflet-popup-tip-container::after {
    position: absolute;

    width: 25px;
    height: 41px;
    margin-top: 0;
    margin-left: -13px;

    content: '';
    transform: rotate(180deg);

    background-image: url(https://raw.githubusercontent.com/Leaflet/Leaflet/master/dist/images/marker-icon.png) !important;
    //background-image: url(images/marker.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
}

input[id^='label-'] {
    position: relative;
    z-index: 1;

    width: 120px;
    padding: 3px;

    text-align: center;

    border: 1px solid #7a7a7a;
    border-radius: 8px 8px 0 0;

    font-size: 16px;
    font-weight: bold;
}

input[id^='label-'].not-valid {
    background-color: red;
}

div[id^='distance-'] {
    width: 120px;
    padding: 3px;

    text-align: center;

    color: #7a7a7a;
    border: 1px solid #7a7a7a;
    border-radius: 0 0 8px 8px;
    background-color: white;

    font-size: 16px;
    font-style: italic;
}

.leaflet-popup {
    top: 10px;
    bottom: -51px !important;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon {
    // @todo
}

// --------------------------------------------
// Application
// --------------------------------------------
#map {
    position: relative;
    //height: 600px;

    height: 100vh;

    border: 1px solid #ccc;
}

#notifications {
    position: absolute;
    z-index: 401;
    right: 12px;
    bottom: 20px;

    display: none;

    width: 120px;
    height: 20px;

    text-align: center;

    background-color: white;

    @at-root #{&}.saving {
        display: block;

        border: 1px solid black;
        background-color: white;
    }

    @at-root #{&}.success {
        display: block;

        border: 1px solid green;
        background-color: lime;
    }

    @at-root #{&}.failure {
        display: block;

        border: 1px solid darkred;
        background-color: red;
    }
}

.leaflet-editing-icon.leaflet-edit-resize,
.leaflet-editing-icon.leaflet-edit-move {
    width: 30px !important;
    height: 30px !important;

    border: 2px solid #00acf0;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.leaflet-editing-icon.leaflet-edit-resize {
    background-image: url(images/drag.png);
}

.leaflet-editing-icon.leaflet-edit-move {
    margin-left: -16px !important;

    background-image: url(images/gps.png);
}
