.close-replay {
  $self: &;

  position: absolute;
  z-index: 401;
  top: 17px;
  right: 10px;

  display: flex;
  align-items: center;

  padding: 3px;

  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #000;

  @media screen and (max-width: #{$viewport-sm-from}) {
    right: 21px;
  }

  @at-root [data-map-mode='GPS-ALERTS-CONFIGURATION-MODE'] #{$self} {
    display: none;
  }

  @at-root #{&}__button {
    width: 34px;
    height: 34px;
    padding: 0;

    cursor: pointer;
    user-select: none;

    border: none;
    background-color: transparent;

    @at-root #{&}:focus {
      outline: none;
    }
  }

  @at-root #{&}__icon-close {
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;

    font-size: 24px;
    line-height: 24px;
  }
}
