.widget-dates {
  $self: &;

  position: absolute;
  z-index: 401;
  top: 10px;
  left: 10px;

  display: flex;
  align-items: center;

  padding: 5px;

  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #000;

  @at-root [data-map-mode='GPS-ALERTS-CONFIGURATION-MODE'].screen-size-small #{$self} {
    top: 65px;
  }

  @at-root [data-map-mode='GPS-HISTORY-PLAYBACK-MODE'].screen-size-small #{$self} {
    top: 65px;

    @media screen and (max-width: #{$viewport-sm-from}) {
      top: 17px;
    }
  }

  @at-root #{&}__button {
    margin-right: 3px;

    cursor: pointer;
    user-select: none;

    border: none;

    font-size: 26px;

    @at-root #{&}:focus {
      outline: none;
    }

    @at-root #{&}--play {
      display: block;

      width: 34px;
      height: 34px;
      margin-left: 8px;

      text-align: center;

      color: black;
      border: 1px solid black;
      border-radius: 50%;

      font-size: 13px;

      @media screen and (max-width: #{$viewport-sm-from}) {
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  @at-root #{&}__form {
    display: none;

    @at-root #{&}--visible {
      display: flex;
      align-items: center;

      @media screen and (max-width: #{$viewport-sm-from}) {
        display: block;
      }
    }
  }

  @at-root #{&}__icon-map {
    width: 26px;
    min-width: 26px;
    height: 26px;
    min-height: 26px;

    font-size: 26px;
    line-height: 26px;
  }

  @at-root #{&}__icon-play {
    width: 11px;
    min-width: 11px;
    height: 11px;
    min-height: 11px;

    font-size: 11px;
    line-height: 11px;
  }

  @at-root #{&}__input-container {
    position: relative;

    padding-left: 13px;

    @at-root #{&}:before {
      position: absolute;
      left: 6px;

      width: 1px;
      height: 21px;

      content: '';

      background-color: #ccc;

      @media screen and (max-width: #{$viewport-sm-from}) {
        background-color: transparent;
      }
    }
  }

  @at-root #{&}__input-date {
  }
}
