// --------------------
// Demo
// --------------------
.demo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 34px;
  padding: 3px;

  text-align: center;

  border: 1px solid #2c827d;

  @media screen and (max-width: #{$viewport-sm-from}) {
    height: 70px;
  }

  @at-root #{&}__form {
  }

  @at-root #{&}__label {
  }

  @at-root #{&}__input {
    min-height: 30px;

    background-color: white;

    @at-root #{&}--color {
      position: relative;
      top: 3px;
    }

    @at-root #{&}--submit {
      display: inline-block;

      cursor: pointer;

      border: 1px solid rgb(117, 117, 117);
      outline: none;

      @at-root #{&}:hover {
        color: white;
        background-color: rgb(117, 117, 117);
      }
    }
  }
}

.demo-app-container {
  height: calc(100vh - 44px);

  @media screen and (max-width: #{$viewport-sm-from}) {
    height: calc(100vh - 70px);
  }
}
