// --------------------
// Map
// --------------------
.map {
  $self: &;

  height: 100%;

  // --------------------
  // Loading
  // --------------------
  &--loading {
    pointer-events: none !important;

    & * {
      pointer-events: none !important;
    }

    #{ $self }__loading-overlay {
      display: block;
    }
  }

  @at-root #{&}__loading-overlay {
    position: relative;
    z-index: 1001;

    display: none;

    height: 100%;

    background: rgba(255, 255, 255, .80);

    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;

      overflow: hidden;

      box-sizing: border-box;
      width: 56px;
      height: 56px;
      margin-top: -28px;
      margin-left: -28px;

      content: '';
      animation: spinner .6s linear infinite;
      white-space: nowrap;
      text-indent: 100%;

      border: 3px solid #ccc;
      border-top-color: var(--distributor-color) !important;
      border-radius: 50%;;
    }

    & > div {
      visibility: hidden;
    }
  }

  // --------------------
  // Custom zones
  // --------------------
  @at-root #{&}__custom-zone-label {
    position: relative;
    z-index: 1;

    width: 120px;
    padding: 3px;

    text-align: center;

    border: 1px solid #c0c0c0;
    border-radius: 8px 8px 0 0;

    font-size: 16px;

    //font-weight: bold;

    @at-root #{&}--not-valid {
      color: #dc3545;
      border: 1px solid #dc3545;
    }
  }

  @at-root #{&}__custom-zone-distance {
    width: 120px;
    padding: 3px;

    text-align: center;

    color: #696969;
    border: 1px solid #c0c0c0;
    border-radius: 0 0 8px 8px;
    background-color: white;

    font-size: 12px;
    font-style: italic;
  }
}
