.pointer-user {
  @at-root #{&}__icon {
    position: relative;
    right: 16px;
    bottom: 55px;

    color: var(--distributor-color);
    text-shadow: 1px 1px 1px #000;

    font-size: 55px;
  }

  // Bug fix : Sometimes the library overlays 2 icons which causes styling issues
  // eg : Darker box shadows due to overlaying them
  @at-root #{&}:nth-of-type(2) {
    visibility: hidden;
  }

  @at-root #{&}__description {
    padding-top: 3px;
    padding-bottom: 3px;

    color: grey;

    font-size: 12px;
    line-height: 13px;
  }

  @at-root #{&}__pulsing-icon {
    display: inline-block;

    width: 13px;
    height: 13px;

    cursor: pointer;
    animation: pulse 2s infinite;

    border-radius: 50%;
    background: #0ab04a;
    box-shadow: 0 0 0 rgba(57,255,20,.4);

    @at-root #{&}:hover {
      animation: none;
    }
  }

  @at-root #{&}__label {
    position: absolute;
    top: 7px;
    left: -60px;

    width: 120px;
    padding: 5px;

    text-align: center;

    color: black;
    border-radius: 5px;
    background: white;
    box-shadow: 3px 3px 21px 0 rgba(0,0,0,.61);

    font-size: 14px;

    @at-root #{&}::after {
      position: absolute;
      bottom: 100%;
      left: 50%;

      margin-left: -5px;

      content: ' ';

      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }
  }
}

// --------------------
// Animation
// --------------------
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(57,255,20, .4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(57,255,20, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(57,255,20, 0);
  }
}
