// --------------------
// Leaflet
// --------------------
// --------------------
// Assets
// --------------------
// node_modules/leaflet/dist/leaflet.css
.leaflet-control-layers-toggle {
  background-image: url('/assets/images/leaflet/layers.png');
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('/assets/images/leaflet/layers-2x.png');
}

.leaflet-default-icon-path {
  background-image: url('/assets/images/leaflet/marker-icon.png');
}

// node_modules/leaflet-draw/dist/leaflet.draw-src.css
.leaflet-draw-toolbar a {
  background-image: url('/assets/images/leaflet/spritesheet.png');
  background-image: linear-gradient(transparent, transparent), url('/assets/images/leaflet/spritesheet.svg');
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('/assets/images/leaflet/spritesheet-2x.png');
  background-image: linear-gradient(transparent, transparent), url('/assets/images/leaflet/spritesheet.svg');
}

// --------------------
// Popup
// --------------------
.leaflet-popup-content-wrapper {
  padding: 0 !important;

  border-radius: 0 !important;
}

.leaflet-popup-content {
  margin: auto !important;

  line-height: 1 !important;
}

.leaflet-popup-tip-container {
  // display: none;
}

.leaflet-popup-tip-container {
  bottom: 18px;

  overflow: visible !important;

  transform: rotate(180deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-tip-container::before {
  position: absolute;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  content: '';

  border-radius: 50%;
  background-color: var(--distributor-color);
}

.leaflet-popup-tip-container::after {
  position: absolute;

  width: 25px;
  height: 41px;
  margin-top: 0;
  margin-left: -13px;

  content: '\f3c5';
  transform: rotate(180deg);

  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, .81);

  font-family: 'Font Awesome 5 Free';
  font-size: 34px;
  font-weight: 900;
}

.leaflet-popup {
  top: 10px;
  bottom: -51px !important;
}

// --------------------
// Tooltip
// --------------------
.leaflet-draw-actions a {
  background-color: #464646 !important;

  @at-root #{&}:hover {
    background-color: var(--distributor-color) !important;
  }
}

.leaflet-draw-tooltip-subtext {
  color: white !important;

  font-weight: bold;
}

.leaflet-draw-tooltip {
  visibility: visible !important;

  background: #464646 !important;

  @at-root #{&}::before {
    border-right-color: #464646 !important;
  }
}

// --------------------
// Icons while editing circles/shapes...
// --------------------
.leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon {
  // @todo
}

.leaflet-editing-icon.leaflet-edit-resize,
.leaflet-editing-icon.leaflet-edit-move {
  width: 30px !important;
  height: 30px !important;

  border: 1px solid var(--distributor-color);
  border-radius: 50%;
  background-color: white;
}

.leaflet-editing-icon.leaflet-edit-resize {
  background-image: none;

  @at-root #{&}::after {
    position: absolute;
    top: 0;
    left: 6px;

    content: '\f31e';

    color: var(--distributor-color);

    font-family: 'Font Awesome 5 Free';
    font-size: 21px;
    font-weight: 900;
  }
}

.leaflet-editing-icon.leaflet-edit-move {
  border: none;
  background: none !important;
}

// --------------------
// Leaflet Draw icons (edit bar)
// --------------------
.leaflet-touch .leaflet-draw-toolbar {
  @at-root
  #{&} .leaflet-draw-draw-circle,
  #{&} .leaflet-draw-edit-edit,
  #{&} .leaflet-draw-edit-remove {
    position: relative;

    background-image: none;
  }

  @at-root
  #{&} .leaflet-draw-draw-circle::after,
  #{&} .leaflet-draw-edit-edit::after,
  #{&} .leaflet-draw-edit-remove::after {
    position: absolute;
    top: 0;
    left: 9px;

    color: #464646;

    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
  }
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
  @at-root #{&}::after {
    content: '\f111';

    font-weight: 300;
  }
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit {
  @at-root #{&}::after {
    content: '\f304';
  }
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove {
  @at-root #{&}::after {
    content: '\f1f8';
  }
}

// --------------------
// Zoom
// --------------------
.leaflet-control-zoom {
  @at-root
  #{&}-in,
  #{&}-out {
    position: relative;

    user-select: none;

    color: transparent !important;
    background-image: none;
  }

  @at-root
  #{&}-in::after,
  #{&}-out::after {
    position: absolute;
    top: 0;
    left: 9px;

    color: #464646;

    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
  }
}

.leaflet-control-zoom-in::after {
  content: '\f067';
  //content: '\f00e';
}

.leaflet-control-zoom-out::after {
  content: '\f068';
  //content: '\f010';
}

// --------------------
// Attribution
// --------------------
.leaflet-control-attribution {
  display: none;
}
